body {
    width: 100%;
    margin: 0;
    position: relative;
}

.container {
    margin: 0 160px;
}

header {
    border-bottom: 2px solid #E5E7EB;
}

.header__container {
    padding: 20px 0;
}

.header__container img {
    width: 150px;
}

.main h1 {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.main__container {
    padding: 20px 0;
}

.content {
    display: flex;
}

.openCart {
    width: 40px;
    height: 40px;
    background-image: url("./images/cart-svgrepo-com.svg");
    padding: 0;
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}


.openCart img {
    
}

.main__cards {
    display: flex;
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
    list-style: none;
}

.card {
    padding: 30px 20px;
}

.card > img {
    width: 300px;
}

.card__caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__bag {
    width: 30px;
}

.card__description  {
    font-size: 25px;
}

.card__description h3 {
    margin: 0;
}

.card__price {
    margin-bottom: 0;
}


.cart {
    display: none;
    flex-direction: column;
    width: 500px;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: white;
    border: 1px solid red;
}

.cart h2 {
    text-align: center;
}


.cart__list {
    list-style: none;

}

.cart__list-item {
    display: flex;
    align-items: center;
}


.cart__img {
    width: 100px;
    height: 100px;
}

.cart__trashButton {
    width: 20px;
    height: 20px;
    margin-left: 100px;
    border: none;
    padding: 0;
}

.cart__quantity {
    width: 20px;
    border: 1px solid black;
}

.cart__addButton img {
    width: 10px;
}

.cart__list-item-description {
    width: 150px;
    margin-left: 20px;
}

.clear__All {
    width: 30px;
    height: 10px;
}

.cart__totalPrice {
    padding-left: 350px;
    margin: 0;
    margin-top: 10px;
}

.cartTotal {
    display: none;
    margin: 0 30px 0;
    border-top: 1px solid black;
}

.cart__ButtonClose {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url(./images/close.png);
    background-size: contain;
    border: none;
    background-color: white;
}


.buyButton {
    display: none;
    width: 100px;
    height: 50px;
    margin: 10px auto 0;
    background: rgb(99, 97, 203);
    border: 1px solid black;
    color: white;

}